{% extends 'main/home.html'%}

{% block content %}

<div style="width: 100%; border: 1px solid; border-color: black; margin: 10px"></div>

<form method="GET" enctype="multipart/form-data">
    {{form.as_p}}

    <button type="submit">search</button>
    <p></p>
</form>





    <h1>Знаменитые футболисты</h1>
{% for c in celebrities %}
<div class = 'book' style="width: auto; border: 1px solid ; border-color : black">
    <h2>{{ c.name }}</h2>
    <img src="{{c.image.url}}"width="200" height="150">
    <p>{{ c.profession }}</p>
    <p>{{ c.discription }}</p>
    <p>{{ c.content }}</p>
   <p>
Трофеи:
{% for t in c.trophy.all %}
    {{ t.name }}{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
    <p>Клуб: {{ c.club }}</p>
    <p>{{ c.date }}</p>
    <a href="/celebrity/{{c.id}}">
        <button>Read</button>
    </a>
    <hr>
</div>
{% endfor %}



<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for i in list_pages %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}} </a></li>
   {% endfor %}

  </ul>
</nav>

{% endblock content %}